.container{
    position: fixed;
    top:7rem;
    right: 30%;
    width:fit-content;
    background-color: rgb(112, 187, 116);
    border-radius: 10px;
    opacity: 0.9;
    z-index: 10;
    transition: all 2s ease-in-out;
}
.alert-success{
   opacity: 1;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .container{
        right: 10%;
    }
}