.outercontainer{
    margin-top: -8rem;
    background-color: rgb(44, 69, 94);
    height: fit-content;
    padding: 5rem 1rem 1rem 1rem;
    text-align: center;
    padding-bottom: 10rem;
}

.service-outer-text{
    margin: 2rem 0 2rem 0;
    color: aliceblue;
    font-size: 18px;
}
.service-outer-text>h1{
    margin-bottom: 0.5rem;
}

.service-details{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
}

.service{
    /* width: 25rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.service:hover{
    background-color: rgb(132, 162, 195);
}

.iconlogo>svg{
    width: 50px;
    height: 50px;
}
.iconlogo{
    width: 60px;
    height: 60px;
    background-color: rgb(88, 160, 232);
    width: fit-content;
    border-radius: 50%;
    padding: 5px;
    transition:  all 0.3s ease-out;
}

.iconlogo:hover{
    background-color: aliceblue;
}
.service>h2, .service>p{
    margin: 3%;
}


@media screen and (max-width: 700px) {
    .service-details{
        flex-direction: column;
    }
}