.skill_container{
  text-align: center;
  margin-top: -9rem;
  right: 0;
  padding: 7rem 1rem 2rem 1rem ;
  background-color: #052341;
  color: azure;
  font-weight: bold;
  height: fit-content;
}
.wrapper{
  text-align: left;
  font-size: 20px;
  min-height: 100vh;
  max-height: fit-content;
}

.skill_item{
  max-width: 90%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.skill_item span{
  line-height: 40px;
  font-weight: 600;
}

.skill_item .progress{
  position: relative;
  background-color: #9ca9b6;
  height: 7px;
  border-radius: 5px;
  width: 100%;
}

.progress .progress_in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  background-color: #0086fb;
  border-right: 5px solid #0058a5;
}

.progress .skill_percent{
  position: absolute;
  right: 1rem;
  top: -40px;
  font-weight: 400;
}