.contactbg{
    padding: 4rem 1rem 1rem 1rem;
    /* padding: 1rem; */
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
}

.contact-text{
    text-align: center;
    margin: auto auto;
    padding: 1rem;
    max-width: 50rem;
}
.contact-text>h1{
    margin-bottom: 0.5rem;
}

.contactdetail{
    display: flex;
}


.contactmethods{
    width: 50%;
    margin: auto auto;
}
.contactaddress{
    margin-bottom: 3rem;
}

.formlayout {
    background-color: #f6f6f6;
    color: black;
    padding: 1rem;
    width: 50%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
}

.formlayout>form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    font-size: 18px;
    margin-top: 1.5rem;
}
.formtext{
    text-align: center;
}

.formlayout>form>input{
    height: 3rem;
    border-color: #888888;
    padding: 5px;
    margin: 10px;
}
.formlayout>form>button{
    width: 100%;
    height: 2rem;
}

#message{
    margin: 10px;
    padding: 5px;
    resize: vertical;
    height: 15rem;
}

@media screen and (max-width: 700px) {
    .contactdetail{
        flex-direction: column;
    }
    .formlayout{
        width: 90%;
    }
    .contactmethods{
        width: 90%;
    }
}