.qualificationsection{
    margin: 2rem 0 4rem 0;
    /* padding-bottom: 4rem; */
    min-height: 30rem;
}
.qualificationsection>h1{
    text-align: center;
    color: aliceblue;
    margin-bottom: 1rem;
}
.institutes{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
}
.institute{
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    /* min-width: 25rem; */
    max-width: 30%;
}
.institute_logo{
    margin-bottom: 1rem;
}
.institute_logo>img{
    width: 110px;
    height: 120px;
}

@media screen and (max-width: 700px) {
    .institutes{
        flex-direction: column;
        align-items: center;
    }
    .institute{
        max-width: 80%;
    }
}
