.footercontainer{
    color: aliceblue;
    padding: 2rem;
    background-color: rgb(13, 13, 44);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;  
}

.footercontainer>button{
    background-color: transparent;
    border: none;
}

/* .footercontainer>button>svg{
    position: fixed;
    top: 90%;
    right: 2%;
    width: 50px;
    height: 50px;
    color: transparent;
    transition: all 0.3S ease-in-out;
    display: none;
} */
.footercontainer>button>img{
    position: fixed;
    top: 90%;
    right: 2%;
    width: 50px;
    height: 50px;
    color: transparent;
    transition: all 0.3S ease-in-out;
    display: none;
    border-radius: 50%;
}

.footercontent{
    margin: auto;
}

.socialmedialinks svg{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 500ms ease-out;
}
.socialmedialinks>a{
    text-decoration: none;
    color: aliceblue;
}
.twt svg:hover{
    color: rgb(30, 109, 189);
}
.fb svg:hover{
    color: blue;
}
.yt svg:hover{
    color: red;
}
.insta svg:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 15px;
}
