.footercontainer{
    color: aliceblue;
    padding: 2rem;
    background-color: rgb(13, 13, 44);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;  
}

.footercontainer>button{
    background-color: transparent;
    border: none;
}

.footercontainer>button>svg{
    position: fixed;
    top: 90%;
    right: 2%;
    width: 50px;
    height: 50px;
    color: transparent;
    transition: all 0.3S ease-in-out;
    display: none;
}

.footercontent{
    margin: auto;
}

.socialmedialinks svg{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.socialmedialinks>a{
    text-decoration: none;
    color: aliceblue;
}
.socialmedialinks svg:hover{
    color: rgb(30, 109, 189);
}
