.footercontainer{
    color: aliceblue;
    padding: 2rem;
    background-color: rgb(13, 13, 44);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;  
}

.socialmedialinks svg{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.socialmedialinks>a{
    text-decoration: none;
    color: aliceblue;
}
.socialmedialinks svg:hover{
    color: rgb(30, 109, 189);
}